:root {
  --bg: linear-gradient(135deg, #1f1c2c, #928dab);
  --card: rgba(255, 255, 255, 0.1);
  --text: white;
}

body.light {
  --bg: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  --card: rgb(161, 159, 159);
  --text: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  transition: 0.4s;
  padding: 20px;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.theme-toggle button {
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.container {
  background: var(--card);
  backdrop-filter: blur(12px);
  padding: 30px;
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: none;
}

.input-group button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(45deg, #ff6a00, #ee0979);
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* Circle Chart */
.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(#00ff88 0%, #444 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  font-size: 20px;
  font-weight: bold;
}

/* Progress Bar */
.progress-bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0;
}

.progress {
  height: 100%;
  width: 0%;
  background: #00ff88;
  transition: 0.5s;
}

.result {
  margin-top: 20px;
  display: none;
  text-align: center;
}

.safe {
  color: #00ff88;
}
.warning {
  color: orange;
}
.danger {
  color: red;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
  font-size: 13px;
}

th,
td {
  padding: 8px;
  text-align: center;
}

th {
  background: #333;
  color: white;
}

@media (max-width: 480px) {
  .container {
    padding: 20px;
  }
}
